<div class="container">
    <h2>Items</h2>
    <div class="table-responsive">          
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Serie</th>
        <th>About</th>
        <th>Category</th>
        <th>User</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <% @item.each_with_index do |item,index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= item.serie %></td>
                <td><%= item.description %></td>
                <td><%= item.category.name %></td>
                <td><%= item.user.name if item.user %></td>
                <td>
                    <%= form_tag(items_delete_path, method:"post") do %>
                        <%= hidden_field_tag :delete_id, item.id %>
                        <%= submit_tag("Delete") %>
                    <% end %>                    
                </td>
            </tr>
        <% end %> 
    </tbody>
    </table>
</div>
</div>
